{:nrepl {:port 8777}

 :deps {:aliases [:cljs]}

 :dev-http
 {8280 "public"}

 :builds
 {:app {:target :browser
        :output-dir "public/assets/js"
        :asset-path "/js"

        :modules {:admin {:init-fn short.admin.core/init}}

        :devtools {:preloads [day8.re-frame-10x.preload]
                   :watch-dir "public"}

        :dev {:compiler-options
              {:closure-defines {re-frame.trace.trace-enabled? true
                                 day8.re-frame.tracing.trace-enabled? true}}}
        :release
        {:build-options
         {:ns-aliases
          {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}}}
