#kaocha/v1
 {:tests [{:id          :unit
           :source-paths ["src"]
           :test-paths  ["test"]
           :ns-patterns [".*"]}]
  :fail-fast? true
  :color? true
  :plugins [:kaocha.plugin/capture-output
            :kaocha.plugin/cloverage
            :hooks]

  :kaocha.hooks/pre-load [util.test-system/start-fixture]

  :cloverage/opts
  {:codecov? true
   :ns-exclude-regex ["short.server"
                      "short.database"
                      "short.shared.ui.*"
                      "short.backoffice.*"
                      "short.*.views.*"
                      "util.*"]}}
